.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden; }
  .container .counter {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 120px;
    height: 30px;
    background-color: dimgrey;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 5; }
  .container .counter__list {
    width: 100%;
    height: 500%;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; }
    .container .counter__list li:nth-child(2n+1) {
      background-color: aqua; }
    .container .counter__list li:nth-child(2n) {
      background-color: chocolate; }
    .container .counter__list li {
      width: 100%;
      height: 20%; }
